/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --decoration-color: var(--pink);
    --background-color: var(--deep-blue);
    --accent-background-color: var(--pink);
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --header-description-color: var(--deep-blue);
}

@media (prefers-color-scheme: dark) {
    --decoration-color: var(--pink);
    --background-color: var(--deep-blue);
    --accent-background-color: var(--pink);
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --header-description-color: var(--deep-blue);
}
