/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --decoration-color: #FF0070;
    --background-color: #000028;
    --accent-background-color: #FF0070;
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --shadow-color: #FF0070;
    --header-description-color: #000028;
    --navigation-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    --decoration-color: #FF0070;
    --background-color: #000028;
    --accent-background-color: #FF0070;
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --shadow-color: #FF0070;
    --header-description-color: #000028;
    --navigation-color: #FF0070;
}
