/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --accent-color: #000028;
    --image: url("../images/cover-image-dark.png");
    .header__title {
        color: #DB00FF;
        text-shadow: 4px 4px 0 #FF0070;
    }
}

@media (prefers-color-scheme: dark) {
    .header__title {
        color: #DB00FF;
        text-shadow: 4px 4px 0 #FF0070;
    }
}
