/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --decoration-color: var(--gray);
    --background-color: #FFF1F7;
    --accent-background-color: #FF8DCB;
    --cover: url("../images/cover-image-light.png");
    --title-color: #FFC2E6;
    --header-description-color: var(--gray);
    --text-color: var(--gray);
}

@media (prefers-color-scheme: light) {
    --decoration-color: var(--gray);
    --background-color: #FFF1F7;
    --accent-background-color: #FF8DCB;
    --cover: url("../images/cover-image-light.png");
    --title-color: #FFC2E6;
    --header-description-color: var(--gray);
    --text-color: var(--gray);
}
