/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background: no-repeat var(--cover);
    background-color: var(--background-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'IBM Plex Mono', 'monospace';
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

/* Вспомогательные стили */

.decorative-background {
    background: var(--accent-background-color);
}

/* Шапка */

.header {
    position: relative;
    display: grid;
}

.header__theme-menu {
    justify-self: end;
    margin-block: 60px;
}

.header__title {
    margin-left: -10px;
    font-weight: 700;
    line-height: 82.5%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
    font-weight: 700;
    color: var(--header-description-color);
    margin-block: 55px;
}


/* Панель навигации */

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 2px 12px;
    color: var(--navigation-color);
    line-height: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
}

.header__theme-menu-button_active {
    border-color: rgba(var(--navigation-color), .40);
    cursor: default;
    pointer-events: none;
}

.header__theme-menu-button:hover {
    border-color: var(--navigation-color);
}

.header__theme-menu-button:focus {
    outline: 0;
}

.header__theme-menu-button:focus-visible {
    border-block-end-color: var(--navigation-color);
}

/* Декоративная надпись REC */

.header__decoration {
    position: absolute;
    visibility: visible;
    display: flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: 20px;
    inset-block-start: 10px;
}

.header__decoration::before {
    content: "REC";
    color: var(--decoration-color);
    line-height: 24px;
}

.header__decoration::after {
    content: "";
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--decoration-color) ;
    background: var(--decoration-color);
    inline-size: 9px;
    block-size: 9px;
}

/* Границы шапки */

.header::before,
.header::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}


.header::before {
    border-inline-end: 1px solid var(--decoration-color);
    border-block-start: 1px solid var(--decoration-color);
    inset-inline-end: 0;
}

.header::after {
    border-inline-start: 1px solid var(--decoration-color);
    border-block-end: 1px solid var(--decoration-color);
    inset-block-end: 0;
}


/* Media запросы */

@media (width >= 768px) {
    .page {
        padding: 20px;
    }

    /* Шапка */
    .header__title {
        margin-left: -20px;
    }
    .header__theme-menu {
        margin-block-start: 170px;
        margin-block-end: 173px;
    }
    .header__description {
        justify-self: end;
        inline-size: 50%;
        margin-block: 162px 183px
    }
}

/* Прячем декоративный элемент REC */
.page.theme_light {
    .header__decoration {
        display: none;
    }
}

@media (width >= 1024px) {
    /* Шапка */
    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__theme-menu {
        justify-self: center;
        margin-inline-start: 20px;
        margin-block-start: 0;
        margin-block-end: 215px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__description {
        margin-block: 114px 134px
    }
}
