/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
    /* Дублирующие и общие цвета */
    --pink: #FF0070;
    --gray: #353430;
    --deep-blue: #000028;

    /* Цвета темной темы */
    --decoration-color: var(--pink);
    --background-color: var(--deep-blue);
    --accent-background-color: var(--pink);
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --header-description-color: var(--deep-blue);
}
