:root {
    /* Дублирующие и общие цвета */
    --pink: #FF0070;
    --gray: #353430;
    --deep-blue: #000028;

    /* Цвета темной темы */
    --main-color: var(--pink);
    --additional-color: var(--deep-blue);
    --decoration-color: var(--pink);
    --cover: url("../images/cover-image-dark.png");
    --title-color: #DB00FF;
    --text-main-color: var(--deep-blue);
    --text-additional-color: #F1B2CE;
}
